@font-face{
    font-family: "spartan";
    src: url(./../Spartan-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'spartan';
}

a,h5{
    color:hsl(180, 29%, 50%);
}
a:hover{
    color:  hsl(180, 14%, 20%);
}

label{
    color:gray;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}

h3, h5{
    font-weight: 700;
}

h3{
    font-size: 16px;
}

h3:hover{
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}




